vti_encoding:SR|utf8-nl
vti_author:SR|COMPUTO\\techy
vti_modifiedby:SR|COMPUTO\\techy
vti_timelastmodified:TR|26 Oct 2019 19:01:55 -0000
vti_timecreated:TR|26 Oct 2019 18:19:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Mitchell\\ Augustin\\ Web\\ Site/spiral/index.html Mitchell\\ Augustin\\ Web\\ Site/spiral/downloads.html Mitchell\\ Augustin\\ Web\\ Site/spiral/contribute.html Mitchell\\ Augustin\\ Web\\ Site/spiral/template.dwt Mitchell\\ Augustin\\ Web\\ Site/spiral/manual.html Mitchell\\ Augustin\\ Web\\ Site/spiral/archive.html
vti_nexttolasttimemodified:TW|26 Oct 2019 19:01:47 -0000
vti_cacheddtm:TX|26 Oct 2019 19:01:55 -0000
vti_filesize:IR|411
